header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    width: 50%;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    margin-left: 20px 50%;
}